# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/

# Environment Variables
.env
.env.*

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DB
*.db

# Uploads
uploads/ 